name: Build
permissions:
  contents: read
on:
  - push
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Setup Poetry
        uses: abatilo/actions-poetry@v4

      - name: Cache the virtualenv
        uses: actions/cache@v5
        with:
          path: ~/.cache/pypoetry
          key: venv-${{ hashFiles('poetry.lock') }}

      - name: Install Poetry dependencies
        run: poetry install

      - name: Run black
        run: poetry run black --check loop_workday_upload.py

      - name: Run flake8
        run: poetry run flake8 loop_workday_upload.py

      - name: Run pylint
        run: poetry run pylint loop_workday_upload.py

      - name: Run mypy
        run: poetry run mypy --strict --scripts-are-modules loop_workday_upload.py
